<mat-card *ngIf="abstract | async as p" >
  <form novalidate [formGroup]="featureForm">
    <div class="button-row">
      <div>
        <button class="button-pad-right" mat-fab (click)="save(p)" color="accent">
          <mat-icon>save</mat-icon>
        </button>
        <p *ngIf="!featureForm.pristine">There are unsaved changes</p>
      </div>
    </div>
    <br/><br/>
    <div class="fColumnn">
      <mat-form-field>
        <mat-placeholder>{{projectService.meta.Abstract.alias}}</mat-placeholder>
        <mat-label>{{projectService.meta.Abstract.alias}}</mat-label>
        <textarea [readonly]="!projectService.editing" matInput formControlName="Abstract" matTextareaAutosize matAutosizeMinRows=3
                  matAutosizeMaxRows=20></textarea>
      </mat-form-field>
    </div>
  </form>
</mat-card>
