<h2 mat-dialog-title>Add or view a call action</h2>
<mat-dialog-content>
    <form class="example-form">
        <mat-form-field appearance="fill">
            <mat-label>Staff Involved</mat-label>
            <mat-select>
                <mat-option value="option">
                    Option
                </mat-option>
                <mat-option value="option2">
                    Option
                </mat-option>
                <mat-option value="option3">
                    Option
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Departments Involved</mat-label>
            <mat-select>
                <mat-option value="option">
                    Option
                </mat-option>
                <mat-option value="option2">
                    Option
                </mat-option>
                <mat-option value="option3">
                    Option
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Date Activity Occurred</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-label>With whom was the chance encounter?</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Chance encounter notes</mat-label>
            <input matInput>
        </mat-form-field>
        <br>
        <span style="padding-left: 45%; width: 10%;">
            <button mat-fab color="primary" aria-label="upload1">
                <mat-icon>cloud_upload</mat-icon>
            </button>
            <h5 style="text-align: center;" mat-dialog-title>Upload Attachment</h5>
        </span>
        <mat-form-field>
            <mat-label>Provide a description of uploaded attachment</mat-label>
            <input matInput>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close color="primary">Save</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>