<div layout="column" layout-fill>
  <mat-card>
    <h1 mat-dialog-title>File Upload</h1>
    <div
      [hidden]="
        fileNameInput?.files[0]?.name || data.attached >= data.maxAttach
      "
    >
      Please select a File to upload
    </div>
    <div [hidden]="data.attached < data.maxAttach">
      Maximum number of attachments ({{ data.maxAttach }}) reached
    </div>
    <div>{{ fileNameInput?.files[0]?.name }}</div>
    <mat-dialog-actions
      style="display: flex; flex-direction: row; justify-content: flex-end"
    >
      <form role="form" id="attachmentForm" class="ng-pristine ng-valid">
        <input
          #fileNameInput
          type="file"
          name="attachment"
          id="attachmentInput"
          style="display: none"
        />
      </form>
      <button
        mat-button
        class="mat-raised-button mat-accent"
        [disabled]="uploading || data.attached >= data.maxAttach"
        onclick="document.getElementById('attachmentInput').click();"
        color="accent"
        style="margin-right: 8px"
      >
        Browse
      </button>
      <div class="button-container">
        <div class="spinner-container" *ngIf="uploading">
          <mat-spinner diameter="24"></mat-spinner>
        </div>
        <button
          mat-button
          class="mat-raised-button mat-accent"
          (click)="uploadFile()"
          [disabled]="
            uploading ||
            data.attached >= data.maxAttach ||
            !fileNameInput?.files[0]?.name
          "
          color="accent"
        >
          Upload
        </button>
      </div>
    </mat-dialog-actions>
    <hr style="margin-top: 20px" />
    <div
      [hidden]="
        fileNameInput?.files[0]?.name || data.attached >= data.maxAttach
      "
      style="margin-top: 20px"
    >
      <div>Or insert a link</div>
      <form class="link-form">
        <mat-form-field style="width: 100%" appearance="fill">
          <mat-label>URL to file</mat-label>
          <input
            matInput
            placeholder="Ex. example.com/link/to/my/file.zip"
            #linkInput
          /> </mat-form-field
        ><mat-form-field style="width: 50%" appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Blueprints" #nameInput />
        </mat-form-field>
      </form>
      <mat-dialog-actions
        style="display: flex; flex-direction: row; justify-content: flex-end"
      >
        <button
          mat-button
          class="mat-raised-button mat-accent"
          [disabled]="!linkInput.value"
          (click)="saveLink(linkInput.value, nameInput.value)"
          color="accent"
          style="margin-right: 8px"
        >
          Save
        </button>
      </mat-dialog-actions>
    </div>
  </mat-card>
  <br /><br />
  <button
    mat-button
    class="mat-raised-button mat-accent"
    style="color: white"
    mat-dialog-close
    color="primary"
  >
    Done
  </button>
</div>
