.fColumnn {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 324px);
  overflow-y: scroll;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button-pad-left {
  margin-left: 5px;
}

.button-pad-right {
  margin-right: 5px;
}
 mat-form-field[hidden] {
      display: none;
}

