<mat-toolbar>{{data.currentMessage |async}}</mat-toolbar>
<nav mat-tab-nav-bar *ngIf="route.paramMap | async as params">

        <a mat-tab-link routerLink="review"
           routerLinkActive #review="routerLinkActive"
           [active]="review.isActive">
          Review Form
        </a>
        <a mat-tab-link routerLink="supportdocs"
           routerLinkActive #supportdocs="routerLinkActive"
           [active]="supportdocs.isActive"
           *ngIf="params.get('id') !== 'new'">
          Supporting Documents
        </a>
        <a mat-tab-link routerLink="abstract"
           routerLinkActive #abstract="routerLinkActive"
           [active]="abstract.isActive"
           *ngIf="params.get('id') !== 'new'">
          Abstract
        </a>
        <a mat-tab-link routerLink="impacts"
           routerLinkActive #impacts="routerLinkActive"
           [active]="impacts.isActive"
           *ngIf="params.get('id') !== 'new'">
          Impacts
        </a>
        <a mat-tab-link routerLink="activity/allactivities"
           routerLinkActive #activity="routerLinkActive"
           [active]="activity.isActive"
           *ngIf="params.get('id') !== 'new'">
          Activity Data
        </a>
<!--      </ng-template>-->
<!--    </mat-tab>-->
<!--  </mat-tab-group>-->
</nav>
<mat-progress-bar mode="indeterminate" *ngIf="loadingService.loading | async"
                  style="margin-top: -3px; height: 2px;"></mat-progress-bar>

<router-outlet></router-outlet>

