<mat-toolbar *ngIf="!(router.url == '/welcome' || router.url == '/home' )"><img height="100%" src="assets/images/cda_tribe_logo.jpg" routerLink="/home" style="cursor: pointer;"><span class="top_item" routerLink="/home" style="cursor: pointer;"><i>k’u’lnshi<span style="text-decoration: line-through;">l</span>n</i> Encroachment Management System (kEMS)</span>
  <span class="fill-remaining-space"></span>
  <!-- <span class="tb-mat-button"  *ngIf="!(router.url == '/welcome' )"><button  mat-raised-button [routerLink]="['/payment']" matTooltip="Payment">Payment</button></span>
  <span class="tb-mat-button"  *ngIf="!(router.url == '/welcome' )"><button  mat-raised-button [routerLink]="['/invoice']" matTooltip="Invoice">Invoice</button></span> -->
  <!-- <span><button mat-mini-fab [routerLink]="['/payment']" matTooltip="Payment"><mat-icon>money</mat-icon></button></span>
  <span><button mat-mini-fab [routerLink]="['/invoice']" matTooltip="Invoice"><mat-icon>description</mat-icon></button></span> -->
  <!-- <span *ngIf="!(router.url == '/welcome' )"><button mat-mini-fab [routerLink]="['/payment']" matTooltip="Payment">
      <mat-icon>money</mat-icon>
    </button></span>
  <span *ngIf="!(router.url == '/welcome' )"><button mat-mini-fab [routerLink]="['/invoice']" matTooltip="Invoice">
      <mat-icon>description</mat-icon>
    </button></span> -->

  <!-- <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button> -->

  <!-- <mat-menu #menu="matMenu">
      <button mat-mini-fab (click)="logMeOut();" matTooltip="Logout">
        <mat-icon>person_outline</mat-icon>
      </button>
  </mat-menu> -->

  <span class="tb-mat-button logout-btn "> 
    <button mat-mini-fab color="primary" mat-raised-button (click)="logMeOut();" matTooltip="Logout">
      <mat-icon>person_outline</mat-icon>
    </button>
  </span>



</mat-toolbar>
<div class="main-content">
  <router-outlet></router-outlet>
</div>
