html,
body {
  /*height: 100%;*/
}

mat-toolbar {
  min-height: 64px;
}

.mat-mini-fab {
  margin: 5px;
}

app-impacts-form {
  overflow: hidden;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 0px;
  width: 400px;
}