<mat-toolbar><img height="100%" src="assets/images/cda_tribe_logo.jpg"><span class="top_item" routerLink="/app">k’u’lnshi<s>l</s>n</span>
  <span class="fill-remaining-space"></span>
  <!-- <span class="tb-mat-button" ><button  mat-raised-button [routerLink]="['/export']" matTooltip="Export Sites to Spreadsheet">Export Sites to Spreadsheet</button></span>
  <span class="tb-mat-button" ><button  mat-raised-button [routerLink]="['/filter']" matTooltip="Toggle Filter">Toggle Filter</button></span> -->
  <!-- <span><button mat-mini-fab [routerLink]="['/payment']" matTooltip="Payment"><mat-icon>money</mat-icon></button></span>
  <span><button mat-mini-fab [routerLink]="['/invoice']" matTooltip="Invoice"><mat-icon>description</mat-icon></button></span> -->
  <span *ngIf="!(router.url == '/welcome' )"><button mat-mini-fab [routerLink]="['/payment']" matTooltip="Payment">
      <mat-icon>money</mat-icon>
    </button></span>
  <span *ngIf="!(router.url == '/welcome' )"><button mat-mini-fab [routerLink]="['/invoice']" matTooltip="Invoice">
      <mat-icon>description</mat-icon>
    </button></span>

  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <!-- <span *ngIf="(router.url == '/welcome' )"> -->
      <button mat-mini-fab [routerLink]="['/welcome']" matTooltip="Logout">
        <mat-icon>person_outline</mat-icon>
      </button>
    <!-- </span> -->
  </mat-menu>



</mat-toolbar>
<div class="main-content">
  <router-outlet></router-outlet>
</div>
