<mat-card *ngIf="ready" class="main-card" style="display: flex; flex-direction: column; height: 100%">
  <section>
    <form>
      <mat-form-field style="padding: 30px; width: 40%;">
        <input matInput placeholder="Search">
      </mat-form-field>
      <span style="padding: 60px; float: right;">
        <button mat-mini-fab color="primary" (click)="openDialog({attributes: {'globalid': 'new', 'parentglobalid': projectId }})" aria-label="Add a supporting document button">
          <mat-icon>add</mat-icon>
        </button>
      </span>
    </form>
  </section>
  <section>
    <mat-table #docu_table [dataSource]="docService.datasource" style="max-height: 100%; flex:1 1; overflow:auto;">
      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef>{{docService.meta.Docu_Type.alias}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.attributes.Docu_Type}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef>{{docService.meta.CreationDate.alias}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.attributes.CreationDate | date:'mediumDate'}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Creator">
        <mat-header-cell *matHeaderCellDef>{{docService.meta.Creator.alias}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.attributes.Creator}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
      <mat-row style="cursor: pointer;" *matRowDef="let element; columns: displayColumns" (click)="openDialog(element)">
      </mat-row>
    </mat-table>
  </section>
</mat-card>