.mat-card{
  display: flex; 
  justify-content: space-around; 
  flex: 1; 
  flex-direction: column; 
  align-items: center;
  margin-top: 50px;
  width: 50%;
  background: #ffffffa8;
  text-align: center;
  padding-bottom: 25px;
}

.background {
  width: 100%;
  height: 100vh;
  /* height: calc(100vh-64px); */
  background: url('../../assets/images/background.jpg') no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
}

p{
color: darkblue;  
}