<h1 mat-dialog-title>Supporting Document
</h1>
<div mat-dialog-content>
  <form novalidate [formGroup]="featureForm">
    <div style="display: flex; flex-direction: column; justify-content: space-between;">
      <mat-form-field *ngIf="!newRow">
        <mat-placeholder>{{meta.Creator.alias}}</mat-placeholder>
        <input matInput type="text" name="Creator Number" formControlName="Creator">
      </mat-form-field>
      <mat-form-field *ngIf="!newRow">
        <mat-placeholder>{{meta.CreationDate.alias}}</mat-placeholder>
        <input matInput [matDatepicker]="StartDatePicker" disabled="true" name="Start Date" formControlName="CreationDate">
        <mat-datepicker-toggle matSuffix [for]="StartDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #StartDatePicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-placeholder>Document Type</mat-placeholder>
        <!-- <mat-select [disabled]="!dialogService.editing" formControlName="Docu_Type"> -->
          <mat-select formControlName="Docu_Type">
            <mat-option *ngFor="let option of meta.Docu_Type.domain.codedValues"
                      [value]="option.code">{{ option.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-placeholder>{{meta.Docu_Note.alias}}</mat-placeholder>
        <input matInput type="text" name="Docu_Note" formControlName="Docu_Note">
      </mat-form-field>

      <mat-grid-list cols="3" rowHeight="1:1" gutterSize="8px" *ngIf="saved">
        <mat-grid-tile *ngFor="let attachment of dialogService.attachments " style="background: #f5f5f5; overflow: hidden;">
          <button mat-button class="mat-fab mat-mini mat-accent" aria-label="Delete"
            (click)="dialogService.showDeleteDialog(attachment, $event)"
            style="position: absolute; top: 0px; right: 0px; opacity: 0.7;" matTooltip="Delete File">
            <mat-icon class="material-icons">delete</mat-icon>
          </button>
          <a [href]="attachment.url" class="thumbnail" title="Download: {{attachment.name}}" target="_blank">
            <img class="mat-card-image" [src]="attachment.previewUrl" style="max-width: 500px;" />

            <mat-grid-tile-footer style="background:rgba(176,190,197,0.7);">
              <h3>{{attachment.name}}</h3>
            </mat-grid-tile-footer>
          </a>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="dialogService.maxAttachments > dialogService.attachments.length "
          style="background: #f5f5f5; overflow: hidden; cursor:pointer;">
          <a (click)="dialogService.showDocuUploadDialog($event);" class="thumbnail" title="Add attachment">
            <mat-icon class="material-icons" style="font-size:100px; position: absolute; top:15%; left:24%;">add
            </mat-icon>
            <mat-grid-tile-footer style="background:rgba(176,190,197,0.7);">
              <h3>Add attachment</h3>
            </mat-grid-tile-footer>
          </a>
        </mat-grid-tile>
      </mat-grid-list>
      <div *ngIf="!saved">
          <br><br>
          <h3>Click Save before uploading attachment</h3>
          <br>
          <br>
        </div>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Done</button>
  <button mat-button (click)="save()" cdkFocusInitial>Save</button>
</div>