<mat-tab-group>
  <mat-tab label="Query Encroachments">
    <mat-tab-group>

      <mat-tab label="Non-exempt"> Non-exempt </mat-tab>

      <mat-tab label="Paid or Unpaid/Partial"> Paid or Unpaid/Partial </mat-tab>

      <mat-tab label="Wild Card">
        <app-wild-card></app-wild-card>
      </mat-tab>


    </mat-tab-group>
  </mat-tab>
  <mat-tab label="Preview Records"> Preview Records </mat-tab>
  <mat-tab label="Pre-Populate Fields"> Pre-Populate Fields </mat-tab>
  <mat-tab label="General Invoice"> General Invoice </mat-tab>
  <mat-tab label="Print Invoice"> Print Invoice </mat-tab>


</mat-tab-group>