<div class="row">
  <div class="row">
    <mat-card>
      <form style="min-width: 150px; max-width: 500px; width: 100%;">
        <mat-form-field>
          <mat-label>Fields</mat-label>
          <select matNativeControl>
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
          </select>
        </mat-form-field>
        <mat-form-field style="margin:20px;">
          <mat-label>Operators</mat-label>
          <select matNativeControl>
            <option value="AND">and</option>
            <option value="OR">or</option>
            <option value="NULL">null</option>
            <option value="NOT NULL">not null</option>
            <option value="=">equals</option>
            <option value="<>">not equal</option>
            <option value=">">greater than</option>
            <option value="<">less than</option>
            <option value=">=">greater than or equal</option>
            <option value="<=">less than or equal</option>
          </select>
        </mat-form-field>
      </form>
    </mat-card>
  </div>

  <mat-card>
    <form style="min-width: 150px; max-width: 500px; width: 100%;">
      <mat-form-field>
        <mat-label>Enter a query</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </form>
  </mat-card>

</div>