<mat-card>
    <form>
        <mat-form-field style="padding: 30px; width: 40%;">
            <input matInput placeholder="Search">
        </mat-form-field>
        <span style="padding: 60px; float: right;">
            <button mat-mini-fab color="primary" 
            (click)="openDialog({attributes: {'globalid': 'new', 'parentglobalid': this.projectId }})"  
            aria-label="Add a hearing activity button">
                <mat-icon>add</mat-icon>
            </button>
        </span>
    </form>
    <mat-table class="tbox" [dataSource]="activityService.datasource">

        <ng-container matColumnDef="Creator">
          <mat-header-cell *matHeaderCellDef> Submitted By </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.attributes?.Creator}} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="CreationDate">
          <mat-header-cell *matHeaderCellDef>Date Submitted</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.attributes?.CreationDate | date}} </mat-cell>
        </ng-container>
      
      
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDialog(row)"></mat-row>
      </mat-table>
      <div class = "paginator-div" >
        <mat-paginator [length]="activityService.count | async" [pageSize]="25" [pageSizeOptions]="[25, 50, 100]"
                       (page)="activityService.getPage($event)"></mat-paginator>
    
      </div>
    </mat-card>