mat-radio-button {
    padding-left: 20px;
}
mat-slider {
    width: 40%;
}
mat-form-field {
    width: 80%;
}

.fColumnn {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 324px);
    overflow-y: scroll;
  }
  
  .button-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .button-pad-right {
    margin-right: 5px;
  }
  
  