<mat-card *ngIf="impacts | async as p">

    <form novalidate [formGroup]="featureForm">
        <div class="button-row">
            <div>
                <button class="button-pad-right" mat-fab (click)="save(p)" color="accent">
                    <mat-icon>save</mat-icon>
                </button>
            </div>
        </div>
        <br /><br />
        <div class="fColumnn">
            <mat-label>Are impacts anticipated?</mat-label>
            <br><br>
            <mat-radio-group [formControl]="Impact_YN" aria-label="Are impacts anticipated?">
                <mat-radio-button value="Yes">Yes</mat-radio-button>
                <mat-radio-button value="No">No</mat-radio-button>
                <mat-radio-button value="Possibly">Possibly</mat-radio-button>
            </mat-radio-group>
            <br><br>
            <mat-divider></mat-divider>
            <br><br>
            <mat-label>Are there anticipated environmental resource impacts?</mat-label>
            <br><br>
            <mat-radio-group [formControl]="Enviro_Impact"
            aria-label="Are there anticipated environmental resource impacts?">
                <mat-radio-button (click)="enviroClick(1)" value="Yes">Yes</mat-radio-button>
                <mat-radio-button (click)="enviroClick(2)" value="No">No</mat-radio-button>
            </mat-radio-group>
            <br><br>
            <mat-divider></mat-divider>
            <div *ngIf="Impact_Enviro_var === 'Yes'">
                <br><br>
                <mat-label for="">What type of impact?</mat-label>
                <br><br>
                <mat-form-field appearance="fill">
                    <mat-label>Select</mat-label>
                    <mat-select [formControl]="Enviro_Impact_Type">
                        <mat-option value="option">Option</mat-option>
                        <mat-option value="option">Option</mat-option>
                        <mat-option value="option">Option</mat-option>
                    </mat-select>
                </mat-form-field>

                <br><br>
                <mat-divider></mat-divider>
                <br><br>                
                <mat-label>Are there <b>wetland</b> impacts as a result of this review?</mat-label>
                <br><br>
                <mat-slider [formControl]="Wetland_Likert" thumbLabel tickInterval="1" min="0" max="10" step="1" value="5"></mat-slider>
                <br><br>
                <mat-divider></mat-divider>
                <br><br>
                <mat-label>Are there <b>aquatic area</b> impacts as a result of this review?</mat-label>
                <br><br>
                <mat-slider [formControl]="Aquatic_Likert" thumbLabel tickInterval="1" min="0" max="10" step="1" value="5"></mat-slider>
                <br><br>
                <mat-divider></mat-divider>
                <br><br>
                <mat-label>Are there <b>storm water</b> impacts as a result of this review?</mat-label>
                <br><br>
                <mat-slider [formControl]="Storm_Likert" thumbLabel tickInterval="1" min="0" max="10" step="1" value="5"></mat-slider>
                <br><br>
                <mat-divider></mat-divider>
                <br><br>
                <mat-label>Are there <b>vegitation</b> impacts as a result of this review?</mat-label>
                <br><br>
                <mat-slider [formControl]="Veg_Likert" thumbLabel tickInterval="1" min="0" max="10" step="1" value="5"></mat-slider>
                <br><br>
                <mat-divider></mat-divider>
                <br><br>
                <mat-label>Are there <b>watertype</b> impacts as a result of this review?</mat-label>
                <br><br>
                <mat-slider [formControl]="Watertype_Likert" thumbLabel tickInterval="1" min="0" max="10" step="1" value="5"></mat-slider>
                <br><br>
                <mat-divider></mat-divider>
                <br><br>
                <label>Is mitigation provided?</label>
                <br><br>
                <mat-radio-group [formControl]="Mitigation" aria-label="Is mitigation provided?">
                    <mat-radio-button value="Yes">Fully mitigated</mat-radio-button>
                    <mat-radio-button value="Partially">Partially mitigated</mat-radio-button>
                </mat-radio-group>
                <br><br>
                <mat-divider></mat-divider>
            </div>
            <br><br>
            <mat-label for="">Are there anticipated cultural impacts?</mat-label>
            <br><br>
            <mat-radio-group [formControl]="Impact_Culture" aria-label="Are there anticipated culural impacts?">
                <mat-radio-button (click)="impactCulture(1)" value="Yes">Yes</mat-radio-button>
                <mat-radio-button (click)="impactCulture(2)" value="No">No</mat-radio-button>
            </mat-radio-group>
            <br><br>
            <mat-divider></mat-divider>
            <div *ngIf="Culture_Impact_var === 'Yes'">
                <br><br>
                <mat-label for="">Please specify the type of cultural impact</mat-label>
                <br><br>
                <mat-form-field appearance="fill">
                    <mat-label>Select</mat-label>
                    <mat-select [formControl]="Culture_Type">
                        <mat-option value="option">Option</mat-option>
                        <mat-option value="option">Option</mat-option>
                        <mat-option value="option">Option</mat-option>
                    </mat-select>
                </mat-form-field>
                <br><br>
                <mat-divider></mat-divider>
                <br><br>
                <mat-label for="">Please provide notes on potential impacts to culture</mat-label>
                <br><br>
                <mat-form-field appearance="fill">
                    <input matInput [formControl]="Culture_Note">
                </mat-form-field>
                <br><br>
                <mat-divider></mat-divider>
                <br><br>
                <mat-label for="">Is this a known archeology site?</mat-label>
                <br><br>
                <mat-radio-group [formControl]="Archeology" aria-label="Is this a known archeology site?">
                    <mat-radio-button (click)="archeologyClick(1)" value="Yes">Yes</mat-radio-button>
                    <mat-radio-button (click)="archeologyClick(2)" value="No">No</mat-radio-button>
                </mat-radio-group>

                <div *ngIf="archeologySite == 'Yes'">
                    <br><br>
                    <mat-divider></mat-divider>
                    <br><br> 
                    <mat-label for="">What measures are being taken into account to protect or “mitigate”?</mat-label>
                    <br><br>
                    <mat-form-field appearance="fill">
                        <input [formControl]="Mitigation_Desc" matInput>
                    </mat-form-field>
                </div>
                <br><br>
                <mat-divider></mat-divider>
                <br><br>
                <label for="">Is this a known or named ethographic site?</label>
                <br><br>
                <mat-radio-group [formControl]="Ethnographic" aria-label="Is this a known or named ethographic site?">
                    <mat-radio-button (click)="ethographicClick(1)" value="Yes">Yes</mat-radio-button>
                    <mat-radio-button (click)="ethographicClick(2)" value="No">No</mat-radio-button>
                </mat-radio-group>
                <br><br>

                <div *ngIf="ethographicSite == 'Yes'">
                    <br><br>
                    <mat-divider></mat-divider>
                    <br><br>
                    <mat-label for="">What is the name of the ethographic site?</mat-label>
                    <br><br>
                    <mat-form-field appearance="fill">
                        <input [formControl]="Ethno_Name" matInput>
                    </mat-form-field>
                    <br><br>
                    <mat-divider></mat-divider>
                    <br><br>
                    <mat-label for="">Has there been an archeological study perfromed on or near the site?</mat-label>
                    <br><br>
                    <mat-form-field appearance="fill">
                        <input [formControl]="Arch_YN_study" matInput>
                    </mat-form-field>
                    <br><br>
                    <mat-divider></mat-divider>
                    <br><br>
                    <mat-label for="">What is the probability of archaeological resources being discovered?</mat-label>
                    <br><br>
                    <mat-form-field appearance="fill">
                        <input [formControl]="Arch_Resources" matInput>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </form>
</mat-card>