<!-- Here's the DIV that we inject the map into -->
<div #mapViewNode class="sassy-theme"></div>
<div id='sketchPanel' class='sketchPanel' class='esri-widget'>
  <button *ngIf="projectService.mode==='none'" (click)="enterAddMode({mode:'add'});" class='create' mat-mini-fab color="primary"
    matTooltip="Add Site">
    <mat-icon>add</mat-icon>
  </button>



  <!-- <button class='edit' mat-mini-fab color="primary" [routerLink]="['/edit', 'new']">
    <mat-icon>create</mat-icon>
  </button> -->
  <button *ngIf="projectService.mode==='complete' || projectService.mode==='edit'" (click)=saveNewFeature(); class='save' mat-mini-fab
    color="primary" matTooltip="Save">
    <mat-icon>save</mat-icon>
  </button>

  <button *ngIf="projectService.mode==='featureSelected'" (click)=editFeature(); class='edit' mat-mini-fab color="primary"
    matTooltip="Edit">
    <mat-icon>edit</mat-icon>
  </button>

  <button *ngIf="projectService.mode==='featureSelected'" (click)=enterDeleteMode(); class='edit' mat-mini-fab color="primary"
    matTooltip="Delete Site">
    <mat-icon>delete</mat-icon>
  </button>

  <button *ngIf="projectService.mode==='complete' || projectService.mode==='add' || projectService.mode==='edit'" (click)=cancelFeature();
    class='cancel' mat-mini-fab color="primary" matTooltip="Cancel">
    <mat-icon>close</mat-icon>
  </button>
</div>

<!-- <div id='instructions' class='instructions'>
  <ul>
    <li>Click to start drawing a new item</li>
    <li>Double-click to complete</li>
  </ul>
</div> -->