/* import the required JSAPI css */

/* .esri-widget--button {
  background-color: #c69;
  color: #fff;
} */

/* .sassy-theme .esri-widget,
.sassy-theme .esri-widget--button,
.sassy-theme .esri-menu,
.sassy-theme .esri-popup__main-container,
.sassy-theme .esri-popup .esri-popup__pointer-direction,
.sassy-theme .esri-popup .esri-popup__button,
.sassy-theme .esri-button,
.sassy-theme .esri-input,
.sassy-theme .esri-widget a {
  background-color: #c69;
  color: #fff;
}

.sassy-theme .esri-widget--button:focus,
.sassy-theme .esri-widget--button:hover,
.sassy-theme .esri-menu li:focus,
.sassy-theme .esri-menu li:hover {
  background-color: #699;
  color: #fff;
}

.sassy-theme .esri-button:focus,
.sassy-theme .esri-button:hover {
  color: #fff;
}

.sassy-theme .esri-search__input::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}
.sassy-theme .esri-search__input:-ms-input-placeholder {
  color: #ccc;
}
.sassy-theme .esri-search__input::-webkit-input-placeholder {
  color: #ccc;
} */

@import "https://js.arcgis.com/4.21/@arcgis/core/assets/esri/themes/light/main.css";
/* @import url('https://js.arcgis.com/4.18/@arcgis/core/themes/light-blue/main.css'); */

.esri-view {
  height: calc(100vh - 64px);
  /*subtract tool bar */
}

#sketchPanel {
  box-shadow: none;
  background-color: transparent;
}

#instructions {
  width: 300px;
  background: #fff;
  padding: 10px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

button {
  margin-left: 10px;
}

/* .sassy-theme {
  border-right-color: #658daa;
  border-right-width: thin;
  border-right-style: outset;
} */
