
/*!*@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";*!*/
/*!*@import "https://js.arcgis.com/3.23/esri/css/esri.css";*!*/
/*!*@import "https://js.arcgis.com/3.23/dijit/themes/claro/claro.css";*!*/

/*#mainMap_gc path{*/
/*  fill-opacity: 0.25 !important;*/
/*}​*/


/*.mat-column-date, .cdk-column-date {*/
/*  flex: 0 0 85px !important;*/
/*}*/
/*.mat-column-ProjectNumber, .cdk-column-ProjectNumber {*/
/*  flex: 0 0 100px !important;*/
/*}*/

 mat-raised-button.mat-red, mat-mini-fab.mat-red  {
  color: rgb(196,18,48);
 }
 
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  /*background-color: #00504f;*/
  height: 3px;
}
.mat-tab-group.mat-primary .mat-ink-bar {
    display: none;
}


html, body, app-root {
  padding:0;
  margin: 0;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}


app-map-view {
  display: flex;
  height: calc(100vh - 64px);
}

app-esri-map{
  flex:1;
  /*width: 50%;*/
}

app-edit-pane  {
  /*flex: 1;*/
  /*display: flex;*/
  /*!*flex-direction: column;*!*/
  width: 50%;

}


.box{
  flex:1;
}
/*app-map-view, app-reports {*/
/*  flex: 1;*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  justify-content: space-around;*/
/*  max-width: 100vw;*/
/*}*/

/*app-reports {*/
/*  margin: 15px;*/
/*}*/

/*app-main-map {*/
/*  flex: 1;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  min-width: 50vw*/
/*}*/


app-list-view {
  flex: 1;
  display: flex;
  /*flex-direction: column;*/
}
app-welcome{
  flex: 1;
  display: flex;
  flex-direction: column;
   width: 100%;
  height: 100vh;
  /* height: calc(100vh-64px); */
  background: url('/assets/images/SailingCanoe_Sabeqwa_sm.jpg') no-repeat;
  background-size: cover;
  color: white;
  /* display: flex;
  flex-wrap: wrap; */
  background-position: center;
  /*background-size: auto 100%;*/
  top: -64px;
}

app-review-form, app-abstract-form, app-support-docs-form{
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  padding: 15px;
  max-height: calc(100vh - 213px);
}


/*app-project-form, app-related-table-form, app-list-view, app-review-form,*/
/*app-assigned-task, app-fieldwork, app-cultural-resources, app-stipulations, app-comments, app-comm, app-attachment-form {*/
/*  flex: 1;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  overflow-y: hidden;*/
/*  padding: 15px;*/
/*}*/

/*app-project-form .mat-card, app-related-table-form .mat-card, app-list-view .mat-card, app-assigned-task*/
/*.mat-card, app-fieldwork .mat-card, app-cultural-resources .mat-card, app-stipulations .mat-card, app-review-form .mat-card, app-reports .mat-card,app-attachment-form .mat-card{*/
/*  overflow-y: auto;*/
/*}*/

/*!*div.dijitPopup {*!*/
/*  !*position: absolute;*!*/
/*!*}*!*/
/*.BasemapToggle {*/
/*  position: absolute;*/
/*  top: 155px;*/
/*  z-index: 1;*/
/*}*/
/*mat-form-field {*/
/*  width: 100%*/
/*}*/

mat-row.active {
  background-color: whitesmoke;
  cursor: pointer;
}

.mat-header-row {
  position: sticky;
  top: 0;
  background: #FAFAFA;
  z-index: 999;
}

/*.mat-tab-link {*/
/*  padding: 0 6px !important;*/
/*  min-width: 75px !important;*/
/*}*/

/*.mat-tab-label-container .mat-tab-label {*/
/*  opacity: 1;*/
/*  padding: 0;*/
/*}*/


/*.mat-tab-group.mat-primary .mat-ink-bar {*/
/*  display: none;*/
/*}*/

.mat-toolbar {
  /*min-height: 90px !important;*/
   /*background-color: #e2d5ce !important;*/
  background: white !important;
  color: black;
}

/*span:focus {*/
/*  outline: none;*/
/*  border: 0;*/
/*}*/

/**:focus {*/
/*  outline: none !important;*/
/*  border: 0 !important;*/
/*}*/


.fill-remaining-space {
  flex: 1 1 auto;
}

.top_item{
  cursor: pointer !important;
  padding-left: 10px !important;
}

.searchField{
  width: 70%;
  padding-right: 20px;
}
.up25{
  top: -25%;
}


.mat-slide-toggle-thumb {
  transform: translate(0%, 0%);
  background-origin: content-box;
  background-size: contain;
  background-position: center center;
}

.mat-accent .mat-slide-toggle-thumb{
  filter: grayscale(100%);
  background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zm-6 9c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm3.1-9H8.9V6c0-1.71 1.39-3.1 3.1-3.1 1.71 0 3.1 1.39 3.1 3.1v2z"/></svg>');
}


.mat-checked .mat-slide-toggle-thumb{
  filter: grayscale(0);
  background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 17c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm6-9h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6h1.9c0-1.71 1.39-3.1 3.1-3.1 1.71 0 3.1 1.39 3.1 3.1v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zm0 12H6V10h12v10z"/></svg>');
}


.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
background-color: #fff;
}

.mat-activity-table {
  width: 100%;
}

table {
  width: 100%;
}
.activity-upload-icon {
  font-size:100px; 
  position: absolute; 
  top:6%; 
  left:16%;
}
mat-grid-list.activity-grid-list{
  width: 80%;
  min-width: 80%;
  max-width: 80%;
  padding-left: 10%;
  display: inline-block;
}

.activity-form {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 550px;
  width: auto;
  text-align: center;
}
h2.mat-dialog-title {
  padding-left: 5%;
}
mat-dialog {
  background-color: white;
}
