<div class="background">
  <span class="tb-mat-button logout-btn" ><button color="primary" mat-raised-button (click)="logMeOut();" matTooltip="Logout">Logout</button></span>
  <div style="display: flex; justify-content: space-around; flex: 1; flex-direction: column; align-items: center">
    <mat-card>
      <img height="150px;" src="assets/images/cda_tribe_logo.jpg">

      <mat-card-header>
        <mat-card-title><b>
            <i>
              <p>k’u’lnshi<s>l</s>n Encroachment Management System (kEMS)</p>
              <p>Huy, gu<s>l</s> s’laqhtet</p>
            </i>
            <p>Welcome, our friends…</p>
          </b>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p color="primary">
          You have reached the entry point to the encroachment (dock) annual lease and payment tracking system.
          This software was developed by Innovate, Inc. in coordination with the Coeur d’Alene Lake Management
          Department. This System is for the sole use of the Coeur d’Alene Tribe. Any unauthorized use is strictly
          prohibited. For any questions, concerns, or access please contact the <a target=”_blank”
            href="mailto:jbrown@cdatribe-nsn.gov">Recreation Management Program Manager</a> at <a target=”_blank”
            href="tel:208-686-1118">(208) 686-1118</a>.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <span class="tb-mat-button" ><button color="primary"  mat-raised-button [routerLink]="['/map/projects']" matTooltip="Projects">Projects</button></span>
        <span class="tb-mat-button" ><button color="primary"  mat-raised-button [routerLink]="['/invoice']" matTooltip="Invoice">Invoice</button></span>
        <span class="tb-mat-button" ><button color="primary"  mat-raised-button [routerLink]="['/payment']" matTooltip="Payment">Payment</button></span>
      </mat-card-actions>
    </mat-card>
  </div>
</div>